<form [formGroup]="leaveForm" (ngSubmit)="onSubmit(leaveForm.value)">
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12 p-md-6">
      <label for="leavetype">Leave Type</label>
      <input id="leavetype" formControlName="leavetype" type="text" pInputText>
    </div>
    <div class="p-field p-col-12 p-md-6">
      <label for="leavetype">Code</label>
      <input id="leavetype" formControlName="code" type="text" pInputText>
    </div>
    <div class="p-field p-col-12">
      <p-toggleButton id="ispr" onIcon="pi pi-check" offIcon="pi pi-times" formControlName="is_proof_required">
      </p-toggleButton>
      <label for="ispr" style="margin-left: 10px">Is Proof Required</label>
    </div>
    <div class="p-field p-col-12">
      <p-toggleButton id="iscr" onIcon="pi pi-check" offIcon="pi pi-times" formControlName="is_caary_forward">
      </p-toggleButton>
      <label for="iscr" style="margin-left: 10px">Is Carry Forward</label>
    </div>
    <div class="p-field p-col-12">
      <label for="leavetype">Priority</label>
      <input id="leavetype" formControlName="priority" type="text" pInputText>
    </div>
    <div class="p-col-12" formArrayName="purpose">
      <div class="p-grid" *ngFor="let pur of purpose.controls; let i = index">
        <div class="p-col-8 p-p-2">
          <input pInputText [formControlName]="i" placeholder="Purpose">
        </div>
        <div class="p-col-2 p-p-2">
          <button pButton type="button" (click)="removePurpose(i)" label="Delete" icon="pi pi-trash"></button>
        </div>
      </div>
    </div>
    <div class="p-mb-2 p-field p-col-2">
      <button pButton type="button" label="Add Purpose" (click)="addPurpose()"></button>
    </div>
    <div class="p-field p-col-12 p-md-12">
      <button pButton type="submit" label="Submit" [disabled]="!leaveForm.valid"></button>
    </div>
  </div>
</form>
